/**已内置思源黑体和思源宋体**/
@font-face{
    font-family: SiyuanHei;
    src: url('../../common/SiyuanRouHei.otf');
    font-weight: normal;
    font-style: normal;
    line-break: normal;
}
@font-face{
    font-family: SiyuanSong;
    src: url('../../common/SiyuanSong.otf');
    font-weight: normal;
    font-style: normal;
}


