html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1024px;
}

input {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}

textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}

.el-cascader-panel{
  height: 250px;
}
.el-scrollbar__wrap {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* .el-cascader-menu {
  padding: 0px 10px;
  width: 100%;
} */

.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 20px;
}

.el-breadcrumb {
  margin-bottom: 20px;
  font-size: 0.788rem;
}

.el-submenu__icon-arrow {
  margin-top: -5px !important;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #67c23a;
}

.el-form-item.is-success .el-input-group__append .el-input__inner, .el-form-item.is-success .el-input-group__prepend .el-input__inner {
  border-color: transparent;
}

.el-form-item.is-success .el-input__validateIcon {
  color: #67c23a;
}